<div class="layout-sidebar" (click)="onMenuClick($event)">
    <div class="layout-menu-title">{{nameRol}}</div>
    <div class="menu-scroll-content">
        <ul class="layout-menu">
            <li> <a routerLink="/" routerLinkActive="active" style="font-size: 14px;" (click)="activeMenu('DASH')"
                    [class]="activeMenuItem=='DASH'?'is-active':'no-active'">
                    <i class="fa fa-fw fa-tachometer"
                        [ngStyle]="{'color':activeMenuItem === 'DASH'? 'white': '#828282'}"></i>
                    <span>{{ 'Tablero' | translate }} </span>
                </a>
            </li>
            <li *ngIf="typerol=='ADMININ'"> <a (click)="itemClick('SG')" style="font-size: 14px;"
                    [class]="activeSubMenu=='SG'?'is-active':'no-active'">
                    <i class="fa fa-fw fa-cogs" [ngStyle]="{'color':activeSubMenu === 'SG'? 'white': '#828282'}"></i>
                    <span>{{ 'Seguridad' | translate }}</span>
                    <i [ngStyle]="{'color':activeSubMenu === 'SG'? 'white': '#828282'}"
                        [class]="activeSubMenu=='SG'?'fa fa-fw fa-angle-up layout-menuitem-toggler': 'fa fa-fw fa-angle-down layout-menuitem-toggler'"></i>
                </a>
            </li>
            <li *ngIf="activeSubMenu=='SG'">
                <ul>
                    <li *ngIf="typerol=='ADMIN'">
                        <a routerLink="/usuario" routerLinkActive="active" style="font-size: 14px;"
                            [class]="activeItem=='EC'?'active-item':'no-active-item'" (click)="selectItemMenu('EC')">
                            <i class="fa fa-fw fa-users"
                                [ngStyle]="{'color':activeItem ==='EC'? '#ff4456': '#828282'}"></i>
                            <span>{{ 'Usuarios' | translate }} </span>
                        </a>
                    </li>

                </ul>
            </li>
            <li *ngIf="typerol=='ADMIN'"> <a routerLink="/product" routerLinkActive="active" style="font-size: 14px;"
                    (click)="activeMenu('QUESTIONNAIRE')" [class]="activeMenuItem=='QUESTIONNAIRE'?'is-active':'no-active'">
                    <i class="fa fa-fw fa-pencil-square-o"
                        [ngStyle]="{'color':activeMenuItem === 'QUESTIONNAIRE'? 'white': '#828282'}"></i>
                    <span>{{ 'Productos' | translate }} </span>
                </a>
            </li>
            <!--<li *ngIf="typerol=='ADMIN'"> <a routerLink="/automatic" routerLinkActive="active" style="font-size: 14px;"
                    (click)="activeMenu('AUTOMATIC')" [class]="activeMenuItem=='AUTOMATIC'?'is-active':'no-active'">
                    <i class="fa fa-fw fa-pencil-square-o"
                        [ngStyle]="{'color':activeMenuItem === 'AUTOMATIC'? 'white': '#828282'}"></i>
                    <span>{{ 'Generar carga de archivo' | translate }} </span>
                </a>
            </li>-->            
        </ul>

    </div>
</div>