<div class="layout-dashboard" *ngIf="user?.roles[0].shorcut=='ADM'">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="overview-box sales">                
                <i class="fa fa-plane" aria-hidden="true" style="font-size: 2rem; float: right;padding-right: 20px;"></i>                
                <div class="overview-title"></div>
                <div class="overview-numbers">
                    {{'Usuarios' | translate }}
                </div>
                <div class="overview-subinfo user stock">
                    <i class="fa fa-plane"></i>
                    <span># 100</span>
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="overview-box views">
                <i class="fa fa-pagelines" aria-hidden="true"
                    style="font-size: 2rem; float: right;padding-right: 20px;"></i>
                <div class="overview-title"></div>
                <div class="overview-numbers">
                    {{'Pruebas' | translate }}
                </div>
                <div class="overview-subinfo user stock">
                    <i class="fa fa-circle"></i>
                    <span># 88</span>
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="overview-box users">
                <i class="fa fa-user-circle" aria-hidden="true"
                    style="font-size: 2rem; float: right;padding-right: 20px;"></i>
                <div class="overview-title"></div>
                <div class="overview-numbers">
                    {{'Empresas' | translate }}
                </div>
                <div class="overview-subinfo user stock">
                    <i class="fa fa-circle"></i>
                    <span>#45 </span>
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="overview-box checkins">
                <i class="fa fa-university" aria-hidden="true"
                    style="font-size: 2rem; float: right;padding-right: 20px;"></i>
                <div class="overview-title"></div>
                <div class="overview-numbers">
                    {{'Fincas' | translate }}
                </div>
                <div class="overview-subinfo checkin stock">
                    <i class="fa fa-circle"></i>
                    <span># 108</span>
                </div>
            </div>
        </div>
       
    </div>
</div>