<div class="layout-topbar">
    <p-progressBar [mode]="estado?'indeterminate':'determinate'" [style]="{'height': '6px'}"></p-progressBar>

    <a href="#" id="topbar-menu-button" (click)="app.onMenuButtonClick($event)">
        <i class="fa fa-bars arrow"></i>
        <i class="fa fa-bars mobile"></i>
    </a>


    <a href="/" class="logo-container">
        <!--<img src="assets/layout/images/ecuador-logo.png" alt="ecuador-layout" />-->
        <span style="color: white;font-weight: bold;font-size: 1.5rem;">KARDEX</span>
    </a>  

    <a id="topbar-profile-menu-button" href="#" (click)="app.onTopbarMenuButtonClick($event)" class="mobile">
        <span>{{name | titlecase }}</span>
        <!--<img [src]="user.photo" alt="ecuador-layout" class="topbar-profile" />-->
        <i class="fa fa-sort-desc"></i>
    </a>

    <a id="topbar-profile-menu-button" href="#" (click)="app.onTopbarMenuButtonClick($event)">
        <span>{{name | titlecase }}</span>
        <i class="pi pi-user" style="font-size: 2rem"></i>
        <!--<img  *ngIf="user.photo!=null" [src]="user.photo" alt="ecuador-layout" class="topbar-profile" />-->
        <i class="fa fa-sort-desc"></i>
    </a>

    <ul id="topbar-usermenu" class="fadeInDown animated" [ngClass]="{'usermenu-active': app.topbarMenuActive}">       
        <li> 
            <a href="#" (click)="app.singout()">
                <i class="fa fa-fw fa-sign-out"></i>
                <span class="topbar-item-name">{{ 'Salir' | translate }}</span>
            </a>
        </li>
    </ul>
</div>